<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="stylesheets/stylesheet.css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/pygment_trac.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>

    <title>Simple-rails-ajax-crud</title>
    <meta name="description" content="simple, rails, ajax, crud">

    <meta name="viewport" content="width=device-width,initial-scale=1">

  </head>

  <body>

    <div class="wrapper">
      <header>
      <h1 class="title">Simple-rails-ajax-crud</h1>
      </header>
      <div id="container">
        <p class="tagline">simple, rails, ajax, crud</p>
        <div id="main" role="main">
          <div class="download-bar">
            <div class="inner">
              <a href="https://github.com/lecky/Simple-Rails-AJAX-CRUD/tarball/master" class="download-button tar"><span>Download</span></a>
              <a href="https://github.com/lecky/Simple-Rails-AJAX-CRUD/zipball/master" class="download-button zip"><span>Download</span></a>
              <a href="https://github.com/lecky/Simple-Rails-AJAX-CRUD" class="code">View Simple-rails-ajax-crud on GitHub</a>
            </div>
            <span class="blc"></span><span class="trc"></span>
          </div>

          <article class="markdown-body">
          <h3>Welcome to Simple Rails AJAX CRUD.</h3>

          <p>
            A simple Rails AJAX JS CRUD within 60 lines.
          </p>

          <h3>Dependency</h3>
          <p> jQuery_ujs - The Unobtrusive JS~!  </p>

          <h3>Demo</h3>
          <p>
            Demo app address: <a href="http://simple-rails-ajax-crud-demo.herokuapp.com/">http://simple-rails-ajax-crud-demo.herokuapp.com/</a>
          </p>

          <h3>CRUD Usage</h3>
          <h4>Create</h4>
          <p>
            Having a form with a class call ajax_create. Specify a "data-replace-target" as a append target, and specify a 'data-replace-location' as a parent location for jQuery to look for the replace target.
          </p>

<pre><code>
  <%= form_for comment, :remote => true, :html => {:class => 'ajax_create', 'data-replace-target' => 'ul#comments', 'data-replace-location' => 'body'} do |f| %>
</code></pre>


          <h4>Destroy</h4>
          Having a link with a class call ajax_destroy, and specify a "data-replace-target" as a remove target, default to "li.fields"

<pre><code>
  <%= link_to "delete", comment_path(comment, :format => :json), :method => :delete, :remote => true, :confirm => 'Are you sure?', :class => 'ajax_destroy' %>
</code></pre>

          <h4>Edit</h4>
          Having a link with a class call ajax_edit, and specify a "data-replace-target" as a replace target, default to "li.fields"

<pre><code>
  <%= link_to comment.text, edit_comment_path(comment), :remote => true, :class => 'ajax_edit' %>
</code></pre>

          <h4>Update</h4>
          Having a form with a class call ajax_update, and specify a "data-replace-target" as a replace target, default to "li.fields"

<pre><code>
  <%= form_for comment, :remote => true, :html => {:class => 'ajax_update'} do |f| %>
</code></pre>

          <h4>Show</h4>
          Having a link with a class call ajax_show, and specify a "data-replace-target" as a replace target, default to "li.fields"

<pre><code>
  <%= link_to "Back", comment_path(comment), :remote => true, :class => 'ajax_show' %>
</code></pre>

          <h4>Index(ajax refresh list)</h4>
          Having a link with a class call ajax_index, and specify a "data-replace-target" as a replace target

<pre><code>
  <%= link_to "Refresh comments", post_comments_path(@post), :remote => true, :class => 'ajax_index', 'data-replace-target'=> 'ul#comments' %>
</code></pre>

          <h4>Error Handle</h4>
          a div#flash_alert will auto prepend to the body with server error messages

          <h3>Authors and Contributors</h3>

          <p>You can <a href="https://github.com/lecky" class="user-mention">@lecky</a> and find me on GitHub.</p>

          <h3>Support or Contact</h3>

          <p>Having trouble? Check out the README at <a href="https://github.com/lecky/Simple-Rails-AJAX-CRUD">http://github.com/lecky/Simple-Rails-AJAX-CRUD</a> or tweet me <a href="https://twitter.com/leckylao">@leckylao</a> and we’ll help you sort it out.</p>
          </article>
        </div>
      </div>
      <footer>
      <div class="owner">
        <p><a href="https://github.com/lecky" class="avatar"><img src="https://secure.gravatar.com/avatar/acfb4974dd3cd51910adcc7fa21ca90f?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="48" height="48"/></a> <a href="https://github.com/lecky">lecky</a> maintains <a href="https://github.com/lecky/Simple-Rails-AJAX-CRUD">Simple-rails-ajax-crud</a></p>


      </div>
      <div class="creds">
        <small>This page generated using <a href="https://pages.github.com/">GitHub Pages</a><br/>theme by <a href="http://twitter.com/jonrohan/">Jon Rohan</a></small>
      </div>
      </footer>
    </div>
    <div class="current-section">
      <a href="#top">Scroll to top</a>
      <a href="https://github.com/lecky/Simple-Rails-AJAX-CRUD/tarball/master" class="tar">tar</a><a href="https://github.com/lecky/Simple-Rails-AJAX-CRUD/zipball/master" class="zip">zip</a><a href="" class="code">source code</a>
      <p class="name"></p>
    </div>


  </body>
</html>
